
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 125%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  font-family: "Mada", sans-serif;
  overflow-x: hidden;
}

section {
  margin: 0;
  padding: 50px 0;
}
/*----------color----------------------*/
header {
  background-color: #3D5656;
  margin: 0;
  padding: 100px 0 50px;
}
.angle1:after {
  background-color: 	#000;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
}

.btn {
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Georgia;
  color: 	#000;
  font-size: 20px;
  background: 	#FFE15D;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #F49D1A;
  text-decoration: none;
}
/*------------------------------------------------- Landing Page ---------------------------------------------------------------------------------- */

.sub-img{
  width: 8%;
}

.subb-img{
  width: 5%;
}

h1 {
  font-size: 3rem;
}

a{
  text-decoration: none;
  font-family: "Crimson Text", serif;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.container-outer {
  width: 100%;
  position: relative;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sun{
  width: 25%;
  right: 5%;
  top: 20%;
  position: absolute;
  overflow:hidden;
}

.angle {
  position: relative;
}

.angle:after {
  content: '';
  position: absolute;
}

.angle1,
.angle1:after {
  height: 80px;
  width: 100%;
}

/* --------------- animated hamburger -----------------*/
nav label {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  z-index: 999;
}

nav label:hover {
  cursor: pointer;
}

nav label span {
  position: absolute;
  top: 19px;
  right: 4px;
  width: 40px;
  height: 5px;
  border-radius: 4px;
  display: block;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav label span:first-child {
  top: 7px;
}

nav label span:last-child {
  top: 30px;
}

@media (min-width: 992px) {
  nav label {
    display: none;
  }
}

nav input {
  opacity: 0;
}

nav input:checked + label span {
  opacity: 0;
  top: 50%;
}

nav input:checked + label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

nav input:checked + label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (min-width: 992px) {
  nav input {
    display: none;
  }
}

nav ul {
  background-color:#000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-right: 5%;
}

@media (min-width: 992px) {
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

nav ul li {
  position: relative;
  -webkit-transform: translateY(-285px);
          transform: translateY(-285px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav ul li:after {
  content: '';
  width: 72%;
  height: 4px;
  background-color: #F4B868;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 14%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

nav ul li:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav ul li.current {
  background-color: #F4B868;
  pointer-events: none;
}

nav ul li.current a {
  color: #252525;
}

@media (min-width: 992px) {
  nav ul li {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

nav ul a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: lowercase;
  letter-spacing: 0.02rem;
  display: inline-block;
  padding: 15px 26px 10px;
}

@media (min-width: 992px) {
  nav ul a {
    font-size: 1.2rem;
  }
}

nav ul a:hover, nav ul a:active, nav ul a:focus {
  background-color: transparent;
}

nav input:checked ~ ul {
  background-color:#000;
  height: 100%;
  padding: 80px 0 20px;
}

nav input:checked ~ ul li {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}


body{
  margin: 0;
}


header:before {
  content: url("./../assets/leafy-branch.svg");
  display: block;
  position: absolute;
  top: -65px;
  left: -15px;
  height: auto;
  width: 200px;
  -webkit-transform: rotate(132deg);
          transform: rotate(132deg);
}

header:after {
  content: url("./../assets/main-flower.svg");
  display: block;
  z-index: 1;
  height: auto;
  width: 175px;
  position: absolute;
  right: -20px;
  bottom: -150px;
}

@media (min-width: 600px) {
  header {
    padding-bottom: 130px;
  }
}

h1 {
  font-family: "Mada", sans-serif;
  color: #fff;
  letter-spacing: 0.05rem;
  font-weight: 500;
  max-width: 860px;
  font-size: 1.15rem;
  display: block;
  padding-top: 75px;
  margin: 0;
}

h1 span:first-child {
  display: inline-block;
  width: 100%;
}

h1 span.title {
  font-weight: 700;
}

@media (min-width: 394px) {
  h1 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {
  h1 {
    padding-top: 120px;
    font-size: 3rem;
    max-width: 890px;
  }
}

.container-flip {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 37px;
}

@media (min-width: 520px) {
  .container-flip {
    height: 43px;
  }
}

@media (min-width: 675px) {
  .container-flip {
    width: 80%;
    top: 7px;
    height: 49px;
  }
}

@media (min-width: 859px) {
  .container-flip {
    top: 10px;
    height: 53px;
  }
}

@media (min-width: 936px) {
  .container-flip {
    height: 60px;
  }
}

@media (min-width: 1100px) {
  .container-flip {
    height: 68px;
  }
}

.container-flip span {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  -webkit-animation: rotate-word 20s linear infinite;
          animation: rotate-word 20s linear infinite;
}

.container-flip span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.container-flip span:nth-child(3) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.container-flip span:nth-child(4) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.container-flip span:nth-child(5) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.container-flip span:nth-child(6) {
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}

.container-flip span:nth-child(7) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.container-flip span:nth-child(8) {
  -webkit-animation-delay: 17.5s;
          animation-delay: 17.5s;
}

@-webkit-keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  4% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  19% {
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.flip {
  width: 100%;
}

.flip::after {
  content: '';
  display: inline-block;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  background-size: cover;
  width: 20px;
  height: 20px;
}
